<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>

	<title> Aptron AI Hospital </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="New Clinic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{url_for('static',filename='css/appointment_style.css')}}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{url_for('static',filename='css/font-awesome.css')}}" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
</head>

<body>
	<!-- header -->
	<div class="header" id="home">
		<div class="top_menu_w3layouts">
<div class="container">
			<div class="header_left">
				<ul>
					<li><i class="fa fa-map-marker" aria-hidden="true"></i> Nodia</li>
					<li><i class="fa fa-phone" aria-hidden="true"></i> 7836828380</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="#">varun@example.com</a></li>
				</ul>
			</div>
			<div class="header_right">
				<ul class="forms_right">
					<li><a href="{{ url_for('.appointment') }}"> Make an Appointment</a> </li>
				</ul>

			</div>
			<div class="clearfix"> </div>
			</div>
		</div>

		<div class="content white">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
						<a class="navbar-brand" href="{{ url_for('.home') }}">
							<h1><span class="fa fa-stethoscope" aria-hidden="true"></span>Lungs Cancer Detection</h1>
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="nav navbar-nav">
								<li><a href="{{ url_for('.home') }}" class="active">Home</a></li>
								<li><a href="#">About</a></li>
								
								<li><a href="#">Departments</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Labs <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="{{ url_for('.breast_cancer') }}">Breast Cancer</a></li>
										<li class="divider"></li>
										<li><a href="{{ url_for('.prostate_cancer') }}">Prostate Cancer</a></li>
										<li class="divider"></li>
										<li><a href="{{ url_for('.cervical_cancer') }}">Cervical Cancer</a></li>
										<li class="divider"></li>
										<li><a href="{{ url_for('.lungs_cancer') }}">Lungs Cancer</a></li>
										<li class="divider"></li>
										
										
									</ul>
								</li>
							</ul>
						</nav>
					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>
	<!-- banner -->
<div >
	<img src="{{url_for('static',filename='images/lungs.jpg')}}" alt="..." class="team-img">
</div>
	<!--//banner -->
		<!-- /inner_content -->
		<div class="banner-bottom">
		<div class="container">
			<div class="inner_sec_info_agileits_w3">
			<center><h2>Enter the Below fields to predict the Lungs Cancer</h2></center>
			<br>
			  <h2 class="heading-agileinfo">{{ prediction_text }}</h2>
				<div class="contact-form">
					     <form action="{{ url_for('predict_lungs_cancer')}}"method="post">
							 <div class="col-xs-4">
					    	<input type="text"  class="textbox"  name="Smokes" placeholder="Smokes" required="required" />
					    </div>
							 <div class="col-xs-4">
					    	
								<input type="text"  class="textbox"  name="AreaQ" placeholder="AreaQ" required="required" />
					    </div>
						<div class="col-xs-4">
					<input type="text"  class="textbox"  name="Alkhol" placeholder="Alkhol" required="required" />
					    </div>
					
									<span><input type="submit" value="Submit" class="myButton"></span>
							  </div>
					    <div class="clearfix"></div>
						</form>
				  </div>
			</div>
		

		</div>
	</div>
		<!-- /map -->
			<div class="map_w3layouts_agile">
				<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387142.84010033106!2d-74.25819252532891!3d40.70583163828471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1475140387172" style="border:0">
				</iframe>-->
      
			</div>
			<br>
		<!-- //map -->

	<!-- footer -->
	<div class="footer_top_agile_w3ls">
		<div class="container">
			<div class="col-md-4 footer_grid">
				<h3>About Us</h3>
				<p>This is Cancer Detection AI

				</p>
				
			</div>
			<!--<div class="col-md-3 footer_grid">
				<h3>Latest News</h3>
				<ul class="footer_grid_list">
					<li><i class="fa fa-angle-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque vulputate </a>
					</li>
					<li><i class="fa fa-angle-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
					</li>
					<li><i class="fa fa-angle-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
					</li>
					<li><i class="fa fa-angle-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
					</li>
					<li><i class="fa fa-angle-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
					</li>
				</ul>
			</div>-->
			<div class="col-md-4 footer_grid">
				<h3>Contact Info</h3>
				<ul class="address">
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>Noida Aptron AI, <span>Noida</span></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">varun@example.com</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>9999999999</li>
				</ul>
			</div>
			<div class="col-md-4 footer_grid ">
				<h3>Sign up for consultant</h3>
				<p>Book Appointment</p>
				<div class="footer_grid_right">

					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Email Address..." required="">
						<input type="submit" value="Submit">
					</form>
				</div>
			</div>
			<div class="clearfix"> </div>

		</div>
	</div>
	<div class="footer_wthree_agile">
		<p>© 2020 Cancer Detection AI. All rights reserved | Design by <a href="#">Varun kumar</a></p>
	</div>

	<!-- js -->
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.4.min.js')}}"></script>
	<script>
		$('ul.dropdown-menu li').hover(function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
		}, function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
		});
	</script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
</body>

</html>